[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "1.8.1"
Faker = "14.2.0"
ipdb = "0.13.9"
SQLAlchemy = "1.4.41"

[requires]
python_full_version = "3.8.13"
